[2022-03-19 00:45] guillaumevernieres opened #4 "Add a few tests for the marine DA (soca)"
Add tests for the prep, run and post steps related to the marine DA with soca.

[2022-03-19 00:50] guillaumevernieres commented on #4
Happy to work on this one unless somebody wants to take a stab at it.

[2022-03-21 21:08] CoryMartin-NOAA opened #7 "Add in scripts to convert and save to R2D2 sat bias files"
Need to take GSI bc files, convert them to netCDF4 format, and store them in R2D2 database. I have quick and dirty scripts somewhere for this already, but need to clean them up and add them to ush/

[2022-03-22 17:21] guillaumevernieres opened #8 "Reorganize where the bundle dependencies are cloned"
The repositories specified in the bundle are cloned at the root level of the GDASApp repository, which is a bit messy. It isn't a huge issue, but a bit annoying.

This is what the root of GDASApp looks like before calling build.sh, nice and clean:
[code]
and after calling build.sh:
[code]
Do we care? Should we move the bundle part of the root cmakelist to a ``bundle`` or something folder?

[2022-03-22 18:20] CoryMartin-NOAA commented on #8
@guillaumevernieres this is something @aerorahul tried and was unable to do currently because of `jedicmake` but we definitely want everything under `src/` eventually (e.g. `src/soca`)

[2022-03-22 18:22] CoryMartin-NOAA opened #9 "Add CI testing on Orion"
Create a cronjob on Orion that will check for the label `orion-RT` and if it is on a pull request, check out, build, test said pull request and report back on success/fail.

[2022-03-22 18:24] CoryMartin-NOAA opened #10 "Add CI testing on Hera"
Create a cronjob on Hera that will check for the label `hera-RT` and if it is on a pull request, check out, build, test said pull request and report back on success/fail.

[2022-03-23 13:18] CoryMartin-NOAA opened #13 "Move existing UFSDA scripts to GDASApp"
Both j-jobs/exscripts for atm analysis but also python ush scripts.

[2022-03-23 13:45] CoryMartin-NOAA commented on #13
Copied everything in [feature/ufsda_files](https://github.com/NOAA-EMC/GDASApp/tree/feature/ufsda_files), still need to clean it up and add everything to cmake. @aerorahul any special way to handle j-jobs and ex-scripts in the cmake build? Would they just copy to build(install)/jobs and build(install)/scripts?

[2022-03-23 13:48] aerorahul commented on #13
See the `CMakeLists.txt` in obsproc [here](https://github.com/NOAA-EMC/obsproc/tree/develop/jobs)
`make install` would then copy the **relevant** files to the `INSTALL_PREFIX/jobs` directory.

[2022-03-23 17:07] CoryMartin-NOAA opened #15 "Python norms ctest checks all JEDI files"
This leads to lots of issues. Need to modify the ctest to just check GDASApp files.

[2022-03-23 17:08] CoryMartin-NOAA opened #16 "Test data not being downloaded properly on Hera"
Is this a Hera problem? Or in general?

[code]

[2022-03-23 17:09] #9 closed, assigned to CoryMartin-NOAA

[2022-03-23 19:29] CoryMartin-NOAA commented on #16
This seems to be related to the build script. Running `cmake -DBUILD_GDASBUNDLE=OFF ../` works as intended, but fails when in the build with the entire bundle.

[2022-03-23 19:54] CoryMartin-NOAA opened #17 "Modify ex-scripts and j-jobs to work with updated python ush scripts"
Need to uses the increment 'translator', etc.

[2022-03-23 19:59] CoryMartin-NOAA opened #18 "Install python utilities in ush/ using cmake"

[2022-03-24 16:42] #10 closed, assigned to CoryMartin-NOAA

[2022-03-24 18:55] CoryMartin-NOAA commented on #16
This is due to a scrubber cron. Resolved.

[2022-03-24 18:55] #16 closed, assigned to nobody

[2022-03-24 19:00] CoryMartin-NOAA opened #20 "Add unit test for YAML generation tool"
Need a unit test to use the `ufsda` YAML tool to concatenate and fill in YAML templates

[2022-03-24 19:51] CoryMartin-NOAA opened #21 "Make YAML generation tool more generic"
Many of the environment variables that the YAML tool looks for are unique to a cycled FV3-atm system and currently are not fault tolerant if the variable is not set. Need to modify these and make it more fault tolerant and generic, particularly since we do not need to follow the conventions currently in the EWOK templated YAMLs.

[2022-03-25 02:09] CoryMartin-NOAA opened #23 "Unit test to check all YAML file syntax"
While it currently would be hard to ensure each YAML file meets JEDI conventions, an easy quick check would be to ensure that every YAML file in the `parm/` directory and `test/testinput` directory is readable by a python script.

[2022-03-25 02:13] CoryMartin-NOAA commented on #13
Closed through #19 but still needs cleaned up and updated for this new app

[2022-03-25 02:13] #13 closed, assigned to CoryMartin-NOAA

[2022-03-25 16:51] #15 closed, assigned to nobody

[2022-03-25 19:19] #20 closed, assigned to CoryMartin-NOAA

[2022-03-25 19:19] #23 closed, assigned to CoryMartin-NOAA

[2022-03-28 12:16] guillaumevernieres commented on #8
Senior moment I guess, I do remember a discussion about this. What's wrong with switching to ``ecbuild``? It would make that reorganization task a lot easier. Thoughts @aerorahul , @CoryMartin-NOAA ?

[2022-03-28 12:21] guillaumevernieres opened #27 "Create a small (marine) R2D2 database for ci testing"

[2022-03-28 12:22] guillaumevernieres opened #28 "Test the marine/soca prep step as part of the ci testing"

[2022-03-28 12:23] guillaumevernieres opened #29 "Test the run step as part of the ci testing"

[2022-03-28 12:23] guillaumevernieres opened #30 "Test the post step as part of the ci testing"

[2022-03-28 13:44] aerorahul commented on #8
@guillaumevernieres
Using `ecbuild` is not the issue.  We are using `ecbuild` when building the bundle.
The `GDASApp` is not just a bundle though.  It contains the bundle as part of `src/`.  The scripting, modules, jobs, etc are part of the `GDASApp` and the structure of this application is dictated by NCO.
If anyone can retain the structure while using `ecbuild`, that is perfectly acceptabl.e

[2022-03-28 15:50] #27 closed, assigned to nobody

[2022-03-28 19:48] CoryMartin-NOAA opened #31 "Add ioda converters to build and add a BUFR2IODA test"
Need ioda converters built to read BUFR files.

Also add a new test to generate ADPSFC IODA file from BUFR.

[2022-03-28 21:36] CoryMartin-NOAA opened #33 "Develop an executable python script to create YAML files for JEDI executables"
We need a generic, executable python tool that can create YAML from environment variables and/or an input YAML file for use in JEDI executables.

Something like this:
`genJEDIyaml --yaml $PSLOT.yaml`

Things can either be set from environment variables:
`export CDATE=2022032818`
or in that YAML:
`CDATE: 2022032818`

I suspect the best option is to read env first, and then read YAML (so the YAML ca

[2022-03-29 14:25] #31 closed, assigned to CoryMartin-NOAA

[2022-03-29 14:52] CoryMartin-NOAA commented on #33
Starting work on https://github.com/NOAA-EMC/GDASApp/tree/feature/yamlgen

Current idea would be:
`genYAML --yaml myexp.yaml --output 3dvar.yaml`
Is `yaml` too generic? Should I say `input`? This YAML would be optional and just overwrite certain ENV vars.

Edit: changed yaml to config:
`genYAML --config myexp.yaml --output 3dvar.yaml`

[2022-03-29 15:26] guillaumevernieres commented on #33
:+1:  on ``--config`` , more meaningful that ``--yaml`. I like ``--input`` as well.
is ``myexp.yaml`` a template?

[2022-03-30 14:55] guillaumevernieres commented on #33
Or given, a set of necessary keys and a type of application we want to use (jedi or otherwise), generate the yaml for that?
``genYAML --config myexp.yaml --type 3dvar --output 3dvar.yaml``

[2022-03-30 14:57] CoryMartin-NOAA commented on #33
after chatting with @aerorahul, we think it's best to stick with a template approach for now.

`genYAML --config myexp.yaml`

myexp.yaml:
[code]

Anything in config can replace placeholders in the templates.

[2022-04-05 12:28] CoryMartin-NOAA commented on #7
Closed through #36 and #37

[2022-04-05 12:28] #7 closed, assigned to CoryMartin-NOAA

[2022-04-05 12:31] CoryMartin-NOAA opened #38 "Make all unit tests share a single R2D2 database"
Also consolidate how the R2D2 config dictionaries are created. Perhaps add a unit test that creates the `R2D2_CONFIG` YAML file and add that to the environment for all subsequent tests?

[2022-04-05 15:27] CoryMartin-NOAA opened #39 "Make YAML substituting/parsing tools able to properly handle float/int values"
Currently all of the values have to be 'strings' in the dict. This should also handle float, int, and bool (among others).

I think the offending routine is:
`include_yaml` where it checks if `$<<` is in the item. It should only do so if it is type `str`

[2022-04-05 17:44] CoryMartin-NOAA commented on #33
Closed through #35

[2022-04-05 17:44] #33 closed, assigned to CoryMartin-NOAA

[2022-04-05 17:45] CoryMartin-NOAA opened #40 "Stand alone single analysis capability"
Be able to run a single analysis using FV3-JEDI as part of the GDASApp without the global-workflow.

Will use a staged set of input files. Can be the groundwork for a future regression test.

[2022-04-07 20:42] CoryMartin-NOAA opened #43 "Stand alone hofx capability"
Similar to the single analysis, there should be a script that can just run hofx (for folks like @emilyhcliu to use).

Will be very similar to #42 but different template YAML, different executable, and no input BUMP or output analysis files.

[2022-04-08 16:02] CoryMartin-NOAA commented on #40
Closed in #42

[2022-04-08 16:02] #40 closed, assigned to CoryMartin-NOAA

[2022-04-08 20:11] CoryMartin-NOAA opened #45 "Create initial C96 (C48 analysis res) 3DVar regression test"
Will run 3DVar as part of ctest, compare output increment to staged increment on disk with `nccmp` and return successful if `fv3jedi_var.x` and `nccmp` have exit codes of 0.

[2022-04-11 13:48] #43 closed, assigned to CoryMartin-NOAA

[2022-04-12 13:40] FanHan-NOAA opened #46 "Option to build GDASApp without fv3-bundle"
I see that fv3-bundle is built with GDASApp by default and wonder if OK to add an option to build it without fv3-bundle. Instead, just provide a path for the already built fv3-bundle somewhere else so the script can create all the symlinks from the provided path.

[2022-04-12 14:19] CoryMartin-NOAA commented on #46
@FanHan-NOAA you can pass to the build script/cmake the following argument:
`-DBUILD_GDASBUNDLE=OFF`

This will not build the bundle.

Are you thinking of having it include an external build for regression/unit tests? Or just for running larger experiments (such as the script added in #44 ?)

[2022-04-12 14:37] FanHan-NOAA commented on #46
Thanks, I did not know it has this option which is exactly what I need. I just don't like having multiple fv3-bundle so it would be nice to just use the one I already built and updated regularly.

I'll close this issue as resolved.

[2022-04-12 14:37] #46 closed, assigned to nobody

[2022-04-19 17:50] CoryMartin-NOAA opened #47 "Consolidate env vs non env variables"
Currently variables are defined/named all over the place, some are `$(UPPERCASE)` and others `{UPPERCASE}`, etc. which means that only some are directly replaced from $UPPERCASE env vars in solo.

We need to consolidate how/where variables are defined and then inserted into YAML to simplify configuration(s).

Needs to work for both cycling and sandbox modes.

[2022-05-19 13:13] CoryMartin-NOAA opened #52 "Make app handle 4D H(x)"
Need YAML changes, additional backgrounds, and the use of the 4DH(x) executable.

[2022-05-23 16:18] #28 closed, assigned to nobody

[2022-05-26 13:00] CoryMartin-NOAA opened #56 "Add VADER and update modulefiles"

[2022-06-01 20:45] #56 closed, assigned to CoryMartin-NOAA

[2022-06-03 21:00] #52 closed, assigned to CoryMartin-NOAA

[2022-06-06 14:28] guillaumevernieres opened #60 "[possible bug?] ctest failure in develop"
I am unable to replicate the successful `ctests` from the `ci`. Three tests from `develop` are failing with the same unhashable key error:
[code]
The same tests are OK on my desktop and laptop, so I assume I am doing something wrong on Orion, or there is an issue ...

This is how I have been testing:
[code]

Then load the modules and run the ctests
[code]
and this is the output:
[code]
Am I missin

[2022-06-06 19:33] RussTreadon-NOAA commented on #60
@guillaumevernieres , I successfully ran ctest on Orion from a fresh GDASApp clone.   Here's what I did in `/work/noaa/da/Russ.Treadon/git/GDASApp/`

1. `git clone https://github.com/NOAA-EMC/GDASApp.git test`
2. `cd test`
3. `./build.sh -c -DBUILD_GDASBUNDLE=OFF -t orion`
4. `module use /work/noaa/da/Russ.Treadon/git/GDASApp/test/modulefiles/`
5. `module load GDAS/orion`
6. `cd build`
7. `ctest`

[2022-06-06 20:01] guillaumevernieres commented on #60
Thanks for testing @RussTreadon-NOAA . I clearly did something wrong somewhere ...

[2022-06-06 20:11] guillaumevernieres commented on #60
Closing since it looks like this is an issue on my side only ...

[2022-06-06 20:11] #60 closed, assigned to nobody

[2022-06-07 18:35] guillaumevernieres commented on #60
I'm an idiot ... It's working now, after spending a few days in the dumb zone. Ouch.

[code]

[2022-06-15 16:30] #29 closed, assigned to nobody

[2022-06-29 20:26] CoryMartin-NOAA opened #69 "Add initial YAML files for surface obs"
- [ ] sfc
- [ ] sfcship

[2022-06-29 20:29] CoryMartin-NOAA commented on #69
@CatherineThomas-NOAA @joshk24 I will try to assign Josh to these once I figure out if I can add him as a 'collaborator'. Here's the first issue, I will make others.

[2022-06-29 20:30] CoryMartin-NOAA opened #70 "Add initial YAML files for ABI"
- [ ] abi_g16
- [ ] abi_g17

[2022-06-29 20:32] CoryMartin-NOAA opened #71 "Add initial YAML files for additional satellite sensors"
- [ ] airs_aqua
- [ ] atms_npp
- [ ] seviri_m11
- [ ] ssmis_f17

[2022-06-29 20:33] CoryMartin-NOAA opened #72 "Add initial YAML files for AMSU-A"
- [ ] amsua_aqua
- [ ] amsua_metop-a
- [ ] amsua_metop-b
- [ ] amsua_metop-c
- [ ] amsua_n15
- [ ] amsua_n18

[2022-06-29 20:34] CoryMartin-NOAA opened #73 "Add initial YAML files for AVHRR"
- [ ] avhrr3_metop-a
- [ ] avhrr3_n18

[2022-06-29 20:36] CoryMartin-NOAA opened #74 "Add initial YAML files for CrIS"
- [ ] cris-fsr_n20
- [ ] cris-fsr_npp

[2022-06-29 20:37] CoryMartin-NOAA opened #75 "Add initial YAML files for IASI"
- [ ] iasi_metop-a
- [ ] iasi_metop-b

[2022-06-29 20:38] CoryMartin-NOAA opened #76 "Add initial YAML files for MHS"
- [ ] mhs_metop-a
- [ ] mhs_metop-b
- [ ] mhs_metop-c
- [ ] mhs_n19

[2022-06-29 20:39] CoryMartin-NOAA opened #77 "Add initial YAML files for ozone observations"
- [x] omi_aura
- [x] ompsnp_npp
- [x] ompstc8_npp

[2022-06-29 20:41] CoryMartin-NOAA opened #78 "Add initial YAML files for winds, RASS, GNSS-RO"
- [ ] gnssrobndnbam
- [ ] rass_tv
- [x] satwind
- [ ] scatwind
- [ ] vadwind

Note some of these might not work in the 'GDASApp' out of the box due to missing/improperly labeled/converted observation files (especially gnssrobndnbam)

[2022-06-30 14:36] CoryMartin-NOAA opened #79 "Duplicate R2D2 and fix directories on Hera"
Need to rsync files between Orion and Hera

Will likely also require code changes to app (define `R2D2_CONFIG`, etc.)

[2022-06-30 20:25] CoryMartin-NOAA opened #80 "Ensure final YAML writes out proper types of variables/values"
In the current parsing/templating code, everything is treated as a string so that it can be properly templated. However, if one is running JEDI with the option to validate the YAML, the executable will fail, for example:
[code]

It is expecting an integer, but the YAML has a string, so it fails. Our code needs to write numbers out properly (eventually).

[2022-07-01 13:56] CoryMartin-NOAA commented on #45
@RussTreadon-NOAA is this something you would like to tackle or would you prefer I do it (probably next week)?

[2022-07-01 13:57] CoryMartin-NOAA commented on #39
This is related but not quite the same as #80

[2022-07-01 14:03] CoryMartin-NOAA opened #82 "Add initial eva support to GDASApp"
http://github.com/danholdaway/eva should be used to make some basic plots depending on YAML for output diags for hofx and 3DVar applications. This should be a workflow job as well as a component/option of the `run_jedi_exe` process.

[2022-07-01 14:06] RussTreadon-NOAA commented on #45
@CoryMartin-NOAA , I can work on this after prototype GDAS-JEDI cycling is in g-w.   fv3-jedi has 3dvar ctests.   Does it make sense to model our ctest based on these existing tests with our extensions added?

[2022-07-01 14:08] CoryMartin-NOAA commented on #45
@RussTreadon-NOAA thanks! Yes, what I used for inspiration was the hyb-3dvar test: https://github.com/JCSDA-internal/fv3-jedi/blob/develop/test/testinput/hyb-3dvar.yaml and just changed the **B**. I think this is a good idea to model ours based on what is in the authoritative repo, since then it will be easier to change our YAMLs if the syntax changes.

[2022-07-01 14:10] RussTreadon-NOAA commented on #45
Add self (@RussTreadon-NOAA ) to list of issue assignees

[2022-07-06 15:41] joshk24 commented on #69
Encountered the same error when trying to generate the netcdf files for both sfc and sfcship plots:

**work2/noaa/stmp/jkumm/gdas_single_test_hofx3d/GDASApp.o6038653
fv3jedi_vc_model2geovals_mod.changevar unknown field: t2m. Not in input field and no transform case specified.**

results in a second netcdf file under "../diags" not being generated, causing the yaml to fail when being run in eva. Co

[2022-07-06 15:45] CoryMartin-NOAA commented on #69
Assigning myself as a reminder to look into this more in the near future, `sfc` and `sfcship` probably should not use the deprecated GSISfcModel forward operator...

[2022-07-06 20:12] CoryMartin-NOAA opened #83 "Make app able to handle different experiments for input obs"
Mainly for UFO evaluation purposes but this will be useful for comparing 3D H(x), 4D H(x), and other configurations

[2022-07-06 20:45] joshk24 commented on #77
[parm/atm/obs/config/omi_aura.yaml](https://github.com/joshk24/GDASApp/blob/feature/add_ozone_obs/parm/atm/obs/config/omi_aura.yaml)

[2022-07-06 20:45] joshk24 commented on #77
it's not letting me check the box for some reason :/

[2022-07-07 12:37] CoryMartin-NOAA commented on #77
@joshk24 hmm, also that URL link doesn't point to anything, I assume it was supposed to point to a file in a feature branch?

[2022-07-07 20:13] #79 closed, assigned to CoryMartin-NOAA

[2022-07-08 13:52] #77 closed, assigned to joshk24

[2022-07-08 14:16] CoryMartin-NOAA commented on #78
@joshk24 added `satwind` through #85

[2022-07-08 18:59] CoryMartin-NOAA opened #88 "Ensure R2D2 is archiving diags properly"
Looks like currently the `post` jobs are archiving diags to R2D2 but treating them as input observations (with a provider, etc.). Need to make sure the post jobs and any associated ush/ufsda scripts are configured correctly to archive the diags in the right place.

[2022-07-08 20:00] CoryMartin-NOAA commented on #82
First step will be to create a python script that can parse a JEDI YAML file and produce an EVA YAML file for all observation types/diag files. Work will be in [feature/eva_from_yaml](https://github.com/NOAA-EMC/GDASApp/tree/feature/eva_from_yaml)

[2022-07-12 00:18] RussTreadon-NOAA opened #90 "Use same obs yaml for mutiple GDASApp modes"
It would be beneficial to be able to use the same observation yamls in various GDASApp modes (hofx, variational, ensemble).   This need was brought up on PR #66 (see [discussion here](https://github.com/NOAA-EMC/GDASApp/pull/66#discussion_r911119858)),   This issue is opened to track development toward the goal of maximizing the use of the same observation yamls in various GDASApp modes.

[2022-07-12 00:22] RussTreadon-NOAA commented on #90
Create [`feature/obsyamls`](https://github.com/NOAA-EMC/GDASApp/tree/feature/obsyamls) as copy of `develop` at [660a2b7](https://github.com/NOAA-EMC/GDASApp/commit/660a2b74aef24a1bf17a1502b6cb9ddf39501e03).

[2022-07-13 19:01] guillaumevernieres opened #93 "SOCA: Add training step for BUMP"
Related to this [issue](https://github.com/noaa-emc/godas/issues/342)

[2022-07-15 20:09] #93 closed, assigned to guillaumevernieres

[2022-07-15 20:48] guillaumevernieres opened #95 "SOCA: Leverage run_jedi_exe.py to execute the prep and run scripts"
## Description
As an alternative to running a single jedi executable, modify `run_jedi_exe.py` to submit a job that will execute `exgdas_global_marine_analysis_prep.py` and `exgdas_global_marine_analysis_run.sh` in sequence.

[2022-07-15 20:52] guillaumevernieres commented on #4
Closing, even-though `post` isn't done.

[2022-07-15 20:52] #4 closed, assigned to guillaumevernieres

[2022-07-15 20:54] guillaumevernieres commented on #30
No clue what to do with the post step at this point until I start cycling with a model ... Closing for now.

[2022-07-15 20:54] #30 closed, assigned to nobody

[2022-07-20 16:44] guillaumevernieres opened #96 "SOCA: Develop an application to gather variables from split MOM6 restarts"
## Description
Given a list of variables, loop through the split MOM6 restarts and append the variables to a new file.

**Inputs:**
 - variables: [Temp, Salt, ave_ssh, ....]
 - split MOM6 restarts: MOM.res.nc, MOM.res_1.nc, MOM.res_3.nc,MOM.res_3.nc, ...

**output:**
A file containing the desired variables.

## Description of done
- a ctest added to the `ci`
- leave the changes to `prep` and `run`

[2022-07-20 18:54] liuxiao37k commented on #96
@guillaumevernieres Okay! What's the urgency level? If not super high, can we spend a little extra time when we chat on Friday to go over this repository so that I know where to start? I tried to take a look at README but it doesn't really help :)

[2022-07-20 19:12] guillaumevernieres commented on #96
@liuxiao37k , not urgent at all, it's only due 2 years ago ...
We can go over the repo , what needs to be done and how to build it this coming Friday.
Not quite sure why you complain about the README, it's quite outstanding imho!

[2022-07-22 00:23] guillaumevernieres opened #97 "SOCA bug: Harcoded date in stage.py"
Oops:
https://github.com/NOAA-EMC/GDASApp/blob/5952c9df74b37d10f3aa2282f6fa36f287348efc/ush/ufsda/stage.py#L93

[2022-07-26 15:37] guillaumevernieres opened #99 "No error trapping in exgdas_global_marine_analysis_run.sh"
Cloned `feature/submit-prep-run` and built apps on Orion.  Successfully ran `soca5deg.yaml`.  Also successfully ran `3dhofx_orion.yaml` and `4dhofx_orion.yaml`.   `3dvar_orion.yaml` failed with the job exceeding the specified 10 minute job wall clock limit.   The hofx and 3dvar jobs are not part of this PR.   Apart from resolution of a few comments, this PR is ready to merge.

_Originally posted b

[2022-07-26 15:54] guillaumevernieres opened #100 "Make `run_jedi_exe.py` more flexible"
Just making a note to resolve this sooner rather than later.

_Originally posted by @CoryMartin-NOAA in https://github.com/NOAA-EMC/GDASApp/pull/98#discussion_r929109494_

[2022-07-26 16:43] #97 closed, assigned to guillaumevernieres

[2022-07-26 16:43] #95 closed, assigned to guillaumevernieres

[2022-07-26 19:26] guillaumevernieres opened #101 "SOCA: Add the MOM6 DA diag_table"
As a temporary solution, add our current DA diag_table under `..../parm/soca/mom6`

[2022-07-26 19:53] guillaumevernieres opened #102 "Add a bufr2ioda ctest for insitu marine obs"
Follow the existing  [atm ctest for bufr2ioda]( https://github.com/NOAA-EMC/GDASApp/blob/6440f5324b7473b3d552f3a877501f99fe7124b8/test/atm/CMakeLists.txt#L9) and add a similar test [here](https://github.com/NOAA-EMC/GDASApp/blob/6440f5324b7473b3d552f3a877501f99fe7124b8/test/soca/CMakeLists.txt#L29)

[2022-07-27 14:29] guillaumevernieres commented on #96
@liuxiao37k , I'm testing with the diag files currently, and so far so good. We might not need that feature in this repo.
The only question mark is what to do when the IC date is the same as the start of the DA window, the fms diag stuff does not write the initial conditions. I don't think this is going to be an issue since we will be starting the fcst 3 hours before the start of the DA window, bu

[2022-07-27 14:37] guillaumevernieres opened #103 "SOCA: read diag files instead of restarts"
## Description
Read the ocn_da diag collection instead of the MOM6 restarts.

## Todo/notes
- the layer thickness field needs to be modified (swap missing and fill values with 0). Ugly, but there isn't a way to specify the missing/fill value in the fms diag manager, so something like this will have to be done:
[code]
- the `ssh` field in the diag file might not be the same one that we were reading

[2022-07-27 14:55] liuxiao37k commented on #96
@guillaumevernieres hmmm, I am happy that I don't need to do this work anymore which saves me maybe a few hours, but afraid I have to spend a few days to finally address the diag output issues for BGC (if I can). I guess I have never told you that there were issues of saving BGC (or generic tracers, in general) diag variables. Last time I checked, NUOPC didn't have this capability yet. I asked NCA

[2022-07-27 15:12] guillaumevernieres commented on #96
@liuxiao37k It's never simple! So we can't just add `chl` for ex. to the diag_table and just be done with it?

[2022-07-28 16:24] ShastriPaturi commented on #102
The yaml files used in GDASApp, ObsProc team and the one I used are different.
I am updating the yaml I used to generate the DBUOY IODA data with the yaml being used in GDASApp.

[2022-08-02 18:29] ShastriPaturi commented on #102
@guillaumevernieres a bufr2ioda ctest has been added for insitu marine obs (empty file) for now.

(gdasapp) Orion-login-1[110] spaturi$ ctest -V -I 11,11
UpdateCTestConfiguration  from :/work/noaa/marine/Shastri.Paturi/sandbox/GDASApp                /build/test/DartConfiguration.tcl
UpdateCTestConfiguration  from :/work/noaa/marine/Shastri.Paturi/sandbox/GDASApp                /build/test/DartConf

[2022-08-05 11:46] guillaumevernieres commented on #96
Not needed (at least in the GDASApp), deleting.

[2022-08-05 15:34] CoryMartin-NOAA opened #106 "Make ush script to streamline UFO testing process"
To validate QC and forward operators, we have GeoVaLs and obs that are produced by GSI and converted for use in JEDI. While the obs can work in the GDASApp as is, we want to be able to utilize the GeoVaLs in the test executables in UFO for a more apples to apples validation.

This script will facilitate the following:

- Load modules for GDASApp and EVA
- Link/copy files to a working directory
- R

[2022-08-05 20:07] CoryMartin-NOAA commented on #106
This work will be done in [feature/geovals](https://github.com/NOAA-EMC/GDASApp/tree/feature/geovals)

[2022-08-09 13:59] #106 closed, assigned to CoryMartin-NOAA

[2022-08-16 14:38] RussTreadon-NOAA opened #109 "Add ensemble (letkf) option to run_jedi_exe.py"
This issue is opened to document the modifications needed so that `ush/run_jedi_exe.py` can execute `fv3jedi_letkf.x` provided a suitably configured input yaml.   The following tasks need to be completed:

- [ ] add low resolution ensemble to R2D2_SHARED database
- [ ] ensure r2d2 is able fetch member states from a central database and stage them in a unique run directory
- [ ] add _ensemble_ as a

[2022-08-16 15:08] RussTreadon-NOAA commented on #109
Work for this issue will be done in branch `feature/letkf`.   [`feature/letkf`](https://github.com/NOAA-EMC/GDASApp/tree/feature/letkf) originated as copy of develop at [44f5abc](https://github.com/NOAA-EMC/GDASApp/commit/44f5abcf37a22e38cfafbfec73ec2d742e8a3b65).

[2022-08-16 17:06] RussTreadon-NOAA opened #111 "Update keywords in 3dvar and lgetkf yamls"
Merger or fv3-jedi PR [#560](https://github.com/JCSDA-internal/fv3-jedi/pull/560) requires updating output grid keywords in GDASApp `parm/atm/lgetkf/lgetkf.yaml` and `parm/atm/variational/3dvar_dripcg.yaml`.    The change is straight forward.

The existing
[code]
is replaced with
[code]

Two auxiliary grid types are supported:  `latlon` and `gaussian`

This issue is opened to document the updating

[2022-08-16 17:42] RussTreadon-NOAA commented on #111
Create [`feature/auxgrid`](https://github.com/NOAA-EMC/GDASApp/tree/feature/auxgrid) to which changes will be committed.   `feature/axugrid` originated as a copy of develop at 44f5abc

[2022-08-17 14:52] CoryMartin-NOAA opened #113 "Add 3DVar YAML for Global Aerosol DA"
Following the 3dvar_dripcg.yaml example for atmospheric DA, add a templated YAML for global aerosol 3DVar.

[2022-08-17 14:55] CoryMartin-NOAA opened #114 "Add Templated Obs YAMLs for Global Aerosol DA"
Following the examples in `parm/atm/obs/config`, add in configuration templated YAMLs for VIIRS AOD from NOAA-20.

[2022-08-17 14:57] CoryMartin-NOAA opened #115 "Add Obs List YAML for Aerosol DA"
Following the examples in `parm/atm/obs/lists`, add in templated YAML for AOD observations to be assimilated.

[2022-08-17 14:59] CoryMartin-NOAA opened #116 "Add B Error Templated YAML for Aerosol DA"
Using https://github.com/NOAA-EMC/GDASApp/blob/develop/parm/atm/berror/staticb_bump.yaml as an example, add in a templated YAML for static B from BUMP for global aerosol DA.

[2022-08-17 16:03] andytangborn commented on #115
Thanks. These are all helpful.

On Wed, Aug 17, 2022 at 10:58 AM Cory Martin ***@***.***>
wrote:

[2022-08-18 13:15] CoryMartin-NOAA opened #117 "Support radiances properly in run_ufo_hofx_test.sh"
Need to do two main things:

- [x] Include bias correction coefficients/procedures
- [x] Have an option to not attempt/fail to plot obs as a function of pressure

[2022-08-18 13:22] CoryMartin-NOAA commented on #117
Work will be in `feature/rad_bc_ufo`

[2022-08-18 13:24] #82 closed, assigned to CoryMartin-NOAA

[2022-08-22 19:34] CoryMartin-NOAA commented on #116
@andytangborn for a first go, I propose only creating a YAML for 'identity' **B** so that we don't have to worry about staging BUMP files, just to get the plumbing going.

[2022-08-22 20:12] CoryMartin-NOAA opened #119 "Create tag with fixed commits of JEDI repos for prototype AOD cycling"
To facilitate initial prototype cycling with global AOD analyses, we need to create a tag of GDASApp that includes:

- Initial AOD DA configuration YAMLs
- Fixed versions of JEDI repos (i.e. not `develop`) for OOPS, UFO, IODA, FV3-JEDI, SABER, etc...

[2022-08-22 20:15] andytangborn commented on #116
Ok.  I've started on the BUMP yaml, but I can do ID as well, and use that
first.

On Mon, Aug 22, 2022 at 3:34 PM Cory Martin ***@***.***>
wrote:

[2022-08-22 20:43] CoryMartin-NOAA opened #120 "Prepare for initial prototype cycling experiment for aerosol DA"
To demonstrate capability of prototype cycling of global aerosol DA, we need to prepare/stage some datasets:

- [ ] Atmospheric obs (either in glopara archive or our own location
- [ ] Initial BUMP **B** files
- [ ] emissions/input files (from Barry?)
- [ ] meteorological ICs for first half cycle
- [ ] preprocessed VIIRS AOD obs to IODA format and stage in a location

[2022-08-23 15:18] guillaumevernieres opened #121 "Prepare JEDI increment so it can be used by MOM6 iau"
## Description
The soca/jedi increment cannot be used "out of the box" by the MOM6 IAU routine, a few minor processing steps need to be applied.

Example of processing T and S can be found in this [script](https://github.com/JCSDA-internal/soca-science/blob/af74fb3607e14d27b90cf5559a5fb856083c91af/scripts/workflow/subscripts/run.var.sh#L51)

[code]

## Todo
- [ ] ~~Unlike the example above, we wan

[2022-08-23 15:34] hyunchul386 commented on #121
Thanks for the description and will take a look for it.

[2022-08-23 18:37] #117 closed, assigned to CoryMartin-NOAA

[2022-08-29 13:29] #103 closed, assigned to guillaumevernieres

[2022-09-06 17:46] guillaumevernieres opened #125 "PR#123 broke the soca stand alone application (static files need to be updated)"
Self inflicted problem! Thanks for pointing out the issue @liuxiao37k .

Reason to remove this line? wouldn't we need to pre-create the directory to put the input*.nml files during `cmake`? `run_jedi_exe.py soca5deg.yaml` was complaining `input.nml doesn't exist`. See error message:
[code]

@guillaumevernieres

_Originally posted by @liuxiao37k in https://github.com/NOAA-EMC/GDASApp/pull/123#discu

[2022-09-06 17:51] RussTreadon-NOAA commented on #111
PR #112 has been merged into develop.  Close this issue.

[2022-09-06 17:51] #111 closed, assigned to RussTreadon-NOAA

[2022-09-09 18:21] CoryMartin-NOAA opened #126 "Fix analysis variables for aerosol case"
See https://github.com/NOAA-EMC/GDASApp/blob/d7c822b0e910ba49efedab3993f71980334d8704/parm/aero/variational/3dvar_gfs_aero.yaml#L5

These are not the aerosol analysis variables, the YAML template needs to have the proper fields listed here. This was missed in PR#122

[2022-09-13 18:09] hyunchul386 commented on #121
A working local branch for the increment update to MOM6 with IAU is
https://github.com/hyunchul386/GDASApp/tree/feature/incr-update

[2022-09-13 18:26] hyunchul386 commented on #121
New test for the increment updated file (inc.nc) was added ctest #3,
Test project /work/noaa/da/Hyun-Chul.Lee/GDASApp/build/test/soca
    Start 1: test_gdasapp_soca_obsdb
1/3 Test #1: test_gdasapp_soca_obsdb ..........   Passed   26.63 sec
    Start 2: test_gdasapp_soca_ana_prep
2/3 Test #2: test_gdasapp_soca_ana_prep .......   Passed    4.03 sec
    Start 3: test_gdasapp_soca_ana_run
3/3 Test #3:

[2022-09-13 18:58] hyunchul386 commented on #121
In the update (https://github.com/NOAA-EMC/GDASApp/commit/01f5aeae7091834a720ed9fec0b468ed907a0831)
~/scripts/exgdas_global_marine_analysis_run.sh
"function socaincr2mom6" was added for the modifications to MOM6
Line #141 : add calling socaincr2mom6, triggered by $DO_OCN_IAU

~/test/soca/runtime_vars.sh
defined $DO_OCN_IAU, and some directories for input files of socaincr2mom6

~/test/soca/test_ru

[2022-09-15 13:11] CoryMartin-NOAA opened #130 "Modify aerosol 3DVar YAML to write out increment"
Write out increment on cube sphere grid so that the workflow can do:
`RESTART + increment = analysis`

[2022-09-15 15:05] CoryMartin-NOAA opened #131 "Modify obs YAMLs to follow new IODA convention"
See: https://github.com/JCSDA-internal/ioda/pull/776

Need to change all of the YAMLs that read/write obs to follow the new convention.

[2022-09-20 12:21] #121 closed, assigned to guillaumevernieres, hyunchul386

[2022-09-22 00:05] RussTreadon-NOAA opened #135 "Compute delp and hydrostatic delz increments in jediinc2fv3.py"
This issue is opened to document the addition of `delp` and hydrostatic `delz` increment calculations to `ush/jediinc2fv3.py`.   Below is background information motivating creation of this issue.

The operational GFS GSI/EnKF pass a hydrostatic `delz` increment to the FV3GFS forecast.  For example, the EnKF code for this calculation is shown in [this comment](https://github.com/JCSDA-internal/fv3-

[2022-09-22 00:29] RussTreadon-NOAA commented on #135
Create GDASApp branch [`feature/delp_delz`](https://github.com/NOAA-EMC/GDASApp/tree/feature/delp_delz) as a copy of `develop` at [8e8d725](https://github.com/NOAA-EMC/GDASApp/commit/8e8d7257d6905108dfae820caa3ae1bf993e9269) for this issue.

[2022-09-22 00:59] jiaruidong2017 opened #136 "Add land DA component to GDASApp (1)"
- [x] Add a templated LETKF-OI YAML for global land DA
       Following the 3dvar_gfs_aero.yaml in parm/aero/variational/
- [x] Add Obs List YAML for snow observations to be assimilated
      Following the examples in parm/aero/obs/lists/
- [x] Modify the yamltool to generate the yaml file for the snow DA test.
      Code: ush/ufsda/yamltools.py

[2022-09-22 10:53] RussTreadon-NOAA commented on #135
`test_gdasapp_jedi_increment_to_fv3` fails due to changes in `jediinc2fv3.py`.

[code]

The revised script now requires three arguments
1. `FV3background` - fv3 background file _(input)_
2. `FV3JEDIincrement` - jedi analysis increment file _(input)_
3. `FV3increment` - fv3 analysis increment file _(output)_

Previously only `FV3JEDIincrement` and  `FV3increment` were required.    `FV3background` i

[2022-09-22 14:33] CoryMartin-NOAA commented on #135
@RussTreadon-NOAA I have a tar file on EMC's FTP site that I keep updated with sample test data. We will need to create low resolution files for the unit tests. Once they are ready, I can upload them and create the new tar file.

[2022-09-22 16:13] RussTreadon-NOAA commented on #135
@CoryMartin-NOAA , I will work on creating low resolution files.

[2022-09-22 19:21] ADCollard opened #137 "Insufficient Geovals for Virtual Temperature"
When running the GSI to create geovals, the virtual and sensible temperatures are read from the surface pressure diag file.  This results in the geovals only being reported where surface pressure is present.

We need to change the GSI and converter code so that virtual and sensible temperatures are output explicitly from setupt.f90 and used in the geoval creation.

[2022-09-23 19:11] RussTreadon-NOAA commented on #135
@CoryMartin-NOAA , how did you create `atminc_compress.nc4`?  This is the increment file read by `test_gdasapp_jedi_increment_to_fv3`.    Knowing how `atminc` was created is useful information as I consider various ways to create a low resolution `atmges` and `atminc`.  We have C96L127 files but these are too large to store on EMC's FTP site and use for ctests.

[2022-09-23 19:59] RussTreadon-NOAA commented on #135
As a test, run `jediinc2fv3.py` using output from a C96L127 `fv3jedi_var.x` run for 2021122106.   The gaussian grid file increment file generated by `fv3jedi_var.x` along with the previous cycle atmf006.nc background file were passed to `jediinc2fv3.py` via command line arguments.

Shown below is a scatter plot of the delz_increment computed by a modified version of `fv3jedi_var.x` (_x-axis_) vers

[2022-09-24 18:54] ADCollard opened #138 "Correct content of ObsError in obs radiance file generated from GSI"
The test obs radiance files generated from the GSI contains the final GSI obs errors in ObsError/BrightnessTemperature.   We need the input obs errors that are presently located in the same file in MetaData/ObsError (they will have to be replicated for each observation before adding to the ObsError/BrightnessTemperature variable).

As the ObsError/BrightnessTemperature contained missing data (wher

[2022-09-26 14:25] CoryMartin-NOAA commented on #135
@RussTreadon-NOAA I'm pretty sure I used the FV3-JEDI latlon increment write capability to create this file from C12 test background RESTART files from FV3-JEDI. Then I think I ran it through one of the nco tools to use the maximum compression (deflate level 9). Do you plan to use cube sphere history files (still in development) or FMS RESTART files for the backgrounds/analysis? If the latter, we

[2022-09-26 14:27] CoryMartin-NOAA commented on #138
@ADCollard does this mean we need input obs errors *instead* for all of the radiance observations? If so, it should be a relatively minor fix/change in ioda-converters to do this.

[2022-09-26 14:28] CoryMartin-NOAA commented on #137
@ADCollard what observation type(s) have you noticed this for? I'm a bit surprised at this to be honest, I wonder if it is a bug in the combine script rather than it not being written out by GSI.

[2022-09-26 14:39] ADCollard commented on #138
@CoryMartin-NOAA I'm not sure what you mean by instead.  We do need the input obs errors in ObsError/BrightnessTemperature but they can stay in MetaData/ObsError if we wish.

I did an off-line correction to the obs file and this change does indeed remove the erroneous QCCode::missing (10)  from the UFO output.  Should I replicate/move this issue to ioda-converters?

[2022-09-26 14:42] CoryMartin-NOAA commented on #138
Looks like the input error is what is used to compute ObsError/brightness_temperature:
https://github.com/JCSDA-internal/ioda-converters/blob/f6f3b0133fd658a5cac852a48ac3d0232e2c9a52/src/gsi-ncdiag/gsi_ncdiag.py#L1248

Is the issue that something is masking them through QC in the converter?

[2022-09-26 14:50] ADCollard commented on #138
@CoryMartin-NOAA That piece of code will use Inverse_Observation_Error (which is the final error) as Input_Observation_Error is not available for radiance files.  What we actually need from the GSI diag file is error_variance.

[2022-09-26 14:51] CoryMartin-NOAA commented on #138
ha, oh I can't read... my bad (the line above says input)

[2022-09-26 14:51] CoryMartin-NOAA commented on #138
@ADCollard but yes, this should be a new issue in ioda-converters

[2022-09-26 14:52] ADCollard commented on #137
@CoryMartin-NOAA We noticed this when looking at Praveen's sonde virtual temperature evaluation.  I interpreted it as GSI not doing a geoval calculation for Tv/Tsens within the ps code if there is no ps observation.  (We did produce a plot showing this correlation but I will need to reproduce it).

[2022-09-26 14:52] ADCollard commented on #138
@CoryMartin-NOAA OK, I'll create a new issue and (attempt) to fix.

ADC

[2022-09-26 14:58] CoryMartin-NOAA commented on #137
I bet this is true for Tv, but Tsen should be there (I think). I'm a bit on the fence about writing out Tv also, I feel like UFO should be able to convert Tsen + q to Tv, no?

[2022-09-27 14:20] RussTreadon-NOAA commented on #135
Low resolution gaussian grid background and increment files have been created by running `fv3jedi_test_tier1_letkf`.  The yaml file used in this ctest, `letkf.yaml`, was edited to write out the prior ensemble mean background and the posterior ensemble mean increment.   A python script was written to refactor the prior ensemble mean background file to better mimic a FV3GFS gaussian grid background

[2022-09-27 14:29] RussTreadon-NOAA commented on #135
@CoryMartin-NOAA , two new files have been created for `test_gdasapp_jedi_increment_to_fv3`
- `atmges_compress.nc4` - fv3gfs like background file
- `atminc_compress.nc4` - fv3jedi analysis increment

These files are on Orion in `/work/noaa/stmp/rtreadon/ctest`.    They are also available on Hera in `/scratch2/NCEPDEV/stmp1/Russ.Treadon/ctest`.   We need to upload these files to emcrzdm directory `

[2022-09-28 18:25] RussTreadon-NOAA commented on #135
As a test, do the following:

- copy `atmges_compress.nc4` and `atminc_compress.nc4` to emcrzdm `/home/ftp/emc/static_files/public/GDASApp_test/testdata`
- create compressed tarball `gdasapp-fix-232c89.tgz` in emcrzdm `/home/ftp/emc/static_files/public/GDASApp_test`
- cd into a working copy of `feature/delp_delz` and replace `static_files/public/GDASApp` with `static_files/public/GDASApp_test` in

[2022-09-29 12:28] CoryMartin-NOAA commented on #135
@RussTreadon-NOAA yep that is the process. As long as that is the sha256 sum, that is 'official' enough for me. Once the tarball is on RZDM, you change the hash in `test/CMakeLists.txt` to the full sha256 hash and it will download that file as part of the cmake/build process.

[2022-09-29 15:54] RussTreadon-NOAA opened #140 "Unable to build GDASApp on Hera"
Attempts to build a fresh clone of GDASApp develop at [8e8d725](https://github.com/NOAA-EMC/GDASApp/commit/8e8d7257d6905108dfae820caa3ae1bf993e9269) on Hera via `./build.sh -v -t hera` fail with

[code]

The above error may be related to behavior reported in [jcsda-internal/jedi-cmake issue #22](https://github.com/JCSDA-internal/jedi-cmake/issues/22).  Recent communication in the jedi-cmake issue

[2022-09-29 17:06] CoryMartin-NOAA commented on #140
@RussTreadon-NOAA I'm wondering if this is due to the fact that JEDI-cmake now needs to be checked out recursively?

This line: https://github.com/NOAA-EMC/GDASApp/blob/8e8d7257d6905108dfae820caa3ae1bf993e9269/CMakeLists.txt#L45

It might need to look like this:
[code]

[2022-09-29 18:16] jiaruidong2017 commented on #136
@CoryMartin-NOAA I tried to build the GDASApp, but it failed with the following error message:

[code]

The whole build message is as below:
[error_in_build_gdasapp.docx](https://github.com/NOAA-EMC/GDASApp/files/9678023/error_in_build_gdasapp.docx)

Thanks.

[2022-09-29 18:21] RussTreadon-NOAA commented on #136
@jiaruidong2017 , this is a known problem.   It's been reported by Cory [(jedicmake #22](https://github.com/JCSDA-internal/jedi-cmake/issues/22)) and me ([GDASApp #140](https://github.com/NOAA-EMC/GDASApp/issues/140)).   Workarounds are being explored while we await final resolution.

[2022-09-29 18:23] jiaruidong2017 commented on #136
@RussTreadon-NOAA Thank you very much for your information.

[2022-09-30 00:11] RussTreadon-NOAA commented on #140
@CoryMartin-NOAA , your suggested changes to the top level `CMakeLists.txt` works for the configuration step.   `./build.sh -v -t hera` gets to the make step.   The build eventually fails when compiling iodaconv code.  Here's the compilation error
[code]

This looks like the issue reported on slide 2 of the [20220929 JEDI T2O](https://docs.google.com/presentation/d/1fWrIsO5TKkDnQfH6VaMxQkJJYG-PtJq

[2022-09-30 01:46] RussTreadon-NOAA commented on #140
While not a solution, I found that the combination of @CoryMartin-NOAA 's suggested changes to `CMakeLists.txt` along with cloning a specific ioda-converters hash allows `./build.sh -t hera` to run to completion without any compilation errors.

I backed up to ioda-converters `develop` @ [a29e1247](https://github.com/JCSDA-internal/ioda-converters/commit/a29e12476a0d4b4836b6be5148da1bec3f443934) (S

[2022-09-30 12:30] CoryMartin-NOAA commented on #140
Thanks for testing @RussTreadon-NOAA .  I think this means we need to do 2 things. 1) make that jedi-cmake change (that won't matter for when jedi-cmake is loaded as a module, but I think it's good to do so for completeness sake) and 2) switch to spack-stack once Dom has that installed on Hera (switch to using it on both Hera and Orion). I'll create issues if they don't already exist.

[2022-09-30 12:31] CoryMartin-NOAA commented on #17
These are moved to global-workflow, closing

[2022-09-30 12:31] #17 closed, assigned to nobody

[2022-09-30 12:32] CoryMartin-NOAA opened #141 "Make jedi-cmake check out recursive"
Now that jedi-cmake has a submodule, ecbuild needs to checkout `jedi-cmake` recursively. This can be achieved with minimal changes to the top level `CMakeLists.txt` file.

[2022-09-30 12:33] CoryMartin-NOAA opened #142 "Switch to using spack-stack for Hera and Orion"
Once spack-stack is installed on Hera, change the modulefiles to use spack-stack on both HPC platforms. Note: this may require some double-checking that the existing python virtual environments are still working as intended.

[2022-09-30 12:35] CoryMartin-NOAA opened #143 "Start to use tags/hashes when checking out repositories"
GDASApp is starting to mature and people are using it for science/validation. Because of this, we should probably stop checking out 'develop' and instead switch to tags/hashes that we know build and update them as part of PRs.

Thoughts @RussTreadon-NOAA @guillaumevernieres or is this too premature?

[2022-09-30 12:35] CoryMartin-NOAA commented on #140
Created issues #141 and #142

[2022-09-30 12:45] CoryMartin-NOAA commented on #135
@RussTreadon-NOAA try using the hash `523cd3b8a1dbb30adc22f0302a0588775f9ac44b8e3463273abf4f1e63304d81` and see if the new tarball has what you need in it

[2022-09-30 13:21] RussTreadon-NOAA commented on #143
While hofx and soca are maturing, the atmospheric workflow is not.   I've only tested plumbing.  I have not conducted any scientific validation of fv3jedi_var.x or fv3jedi_letkf.x.    If hofx and soca development are at point where tags make sense, tag.   Just my two cents.

[2022-09-30 13:24] CoryMartin-NOAA commented on #143
Sorry @RussTreadon-NOAA if I wasn't clear, I don't mean tagging GDASApp, but rather checking out hashes of fv3-jedi, ufo, etc. so that we don't run into these issues where it no longer builds. Or do you think we still should proceed with always checking out develop as default?

[2022-09-30 13:27] RussTreadon-NOAA commented on #141
Create branch [`feature/jedicmake`](https://github.com/NOAA-EMC/GDASApp/tree/feature/jedicmake) as a copy of `develop` at [8e8d725](https://github.com/NOAA-EMC/GDASApp/commit/8e8d7257d6905108dfae820caa3ae1bf993e9269).   The change to `CMakeLists.txt` will be made in `feature/jedicmake`.

[2022-09-30 13:56] RussTreadon-NOAA commented on #143
Ooops.  You are right, @CoryMartin-NOAA.  I misread your comment.

Is it safe to assume that what JCSDA promotes to `develop` in various [https://github.com/jcsda](https://github.com/jcsda)  repos works?    If so, we can replace _jcsda-internal_ references with _jcsda_ in the top-level GDASApp `CMakeLists.txt`.

This said, even if _jcsda_ `develop` is safe to use, changes in `develop` might alter

[2022-09-30 14:23] RussTreadon-NOAA commented on #141
**Build Tests**

Clone GDASApp `feature/jedicmake` on Hera.   Execute `./build.sh -t hera`.   The configuration step of the build successfully completed.   The compilation failed with undefined references in ioda-converters code.

Repeat this test on Orion.  Execute `./build.sh -t orion`.   The configuration step of the build successfully completed.   The compilation failed with undefined function

[2022-09-30 15:52] CoryMartin-NOAA commented on #141
Closed through merge of #144

[2022-09-30 15:52] #141 closed, assigned to RussTreadon-NOAA

[2022-09-30 16:27] RussTreadon-NOAA commented on #135
Thank you, @CoryMartin-NOAA , for updating the GDASApp tarball.

Unfortunately, `gdasapp-fix-523cd3.tgz` does not work.   GDASApp `parm/atm/variational/3dvar_dripcg.yaml` lists `ps` as an analysis variable.   To mimic `fv3jedi_var.x` output we should have surface pressure in the fv3jedi increment file.   The `atminc_compress.nc4` in `gdasapp-fix-523cd3.tgz` contains `DELP`.

I created a new `atmin

[2022-09-30 16:50] CoryMartin-NOAA commented on #135
For some reason, I am really struggling with getting either rzdm to talk to Hera or vice versa for SCP. Any chance the file you had in GDASApp_test on RZDM is the right atminc? If so, try this hash: `2f85f9469ee0788b3765a667fa6e9cd52b599dfb986b7dc773aaf4bcdaf05b4b`

[2022-09-30 17:11] RussTreadon-NOAA commented on #135
Thank you, @CoryMartin-NOAA !   The new tarball, `gdasapp-fix-2f85f9.tgz` works.   `test_gdasapp_jedi_increment_to_fv3` passed.

[2022-10-03 16:17] RussTreadon-NOAA commented on #135
PR #139 was merged into `develop` at [1ef214b](https://github.com/NOAA-EMC/GDASApp/commit/1ef214b85f6904967b62e6ebc21c0c7815872f86).  Close this issue as **complete**.

[2022-10-03 16:17] #135 closed, assigned to RussTreadon-NOAA

[2022-10-04 19:14] CoryMartin-NOAA commented on #143
@RussTreadon-NOAA JCSDA plans to do a 'release' tag of JEDI this week or next. Do we wait for that until attempting to use tags/hashes? Or do we do it ASAP because of the ioda-converters issue?

[2022-10-04 19:31] RussTreadon-NOAA commented on #143
@CoryMartin-NOAA , what's the starting point for next week's EMC UFO code sprint?   If the code sprint needs a fixed & functional GDASApp, we need to identify this week which tags or hashes we plan on using.   If UFO developers already have a fixed & functional environment in which they can work, I'd wait for the JEDI release tag.

[2022-10-04 19:32] CoryMartin-NOAA commented on #143
@RussTreadon-NOAA I'm inclined (based on what I think you're saying) to do it now then. I'm looking into `spack-stack` now, it looks like it is there on Hera and Orion. I will create a branch and try to tackle this issue and #142 together

[2022-10-04 19:52] guillaumevernieres commented on #143
Sorry @CoryMartin-NOAA and @RussTreadon-NOAA , I'm just seeing this issue. Could we add a `main` branch that would point to static repos? Seems to me that is the purpose intended for a `main` branch.

[2022-10-04 19:54] CoryMartin-NOAA commented on #143
@guillaumevernieres so do you propose a main branch that is updated less frequently, and a develop branch that is used by 'power users' like us?

[2022-10-04 19:56] guillaumevernieres commented on #143
@CoryMartin-NOAA yes, not sure at what frequency we would update it, but higher than what the quarterly JSCDA tags?

[2022-10-04 21:14] CoryMartin-NOAA commented on #143
@guillaumevernieres is there a way to make the default branch for cloning `main` but the default branch for PRs to be `develop`?

[2022-10-04 21:27] guillaumevernieres commented on #143
@CoryMartin-NOAA good question ... My google fu didn't come up with anything useful. Maybe we could restrict who can push to `main`, that would limit the # of people who would forget to switch to develop when submitting a PR . To be investigated ...

[2022-10-05 16:53] CoryMartin-NOAA opened #147 "Update bufr_adpsfc.yaml to reflect recent changes in BUFR2IODA"
@rmclaren 's converter is no longer compatible with the YAML used for the GDASApp test. Need to update the YAML so that the test passes.

[2022-10-06 17:00] guillaumevernieres opened #148 "soca tests are failing"
- update obs yamls
- fix file location has changed

[2022-10-07 17:43] #142 closed, assigned to CoryMartin-NOAA

[2022-10-07 18:31] #148 closed, assigned to guillaumevernieres

[2022-10-07 18:31] guillaumevernieres opened #151 "soca "run" is failing on Orion"

[2022-10-11 20:57] jiaruidong2017 commented on #136
@CoryMartin-NOAA After I built the GDASApp package on hera, I tried to load the necessary modules as below:

[code]

However, I received the following error messages as below:
`
conda: Command not found.
`

I checked the modules loaded  as below:

[code]

Following the instructions, I proceed to conduct the run and I got the errors as below:

[code]
It seems there are some problems in the loaded m

[2022-10-12 13:08] CoryMartin-NOAA commented on #147
Closed through #146

[2022-10-12 13:08] #147 closed, assigned to CoryMartin-NOAA

[2022-10-12 13:09] CoryMartin-NOAA opened #152 "Update YAMLS for 'engine' keyword"
Due to a recent change in IODA, all of the obs YAMLs need 'engine' (and supporting) information, to tell IODA it is reading an HDF5/netCDF4 file.

[2022-10-12 14:06] CoryMartin-NOAA commented on #152
Work is in `feature/engine_yaml` will issue PR soon.

[2022-10-12 16:19] RussTreadon-NOAA opened #154 "Update GDASApp to cycle in g-w"
As documented in g-w issue [#1067](https://github.com/NOAA-EMC/global-workflow/issues/1067), updates need to be made to `modulefiles/GDAS/$machine.lua` and the spack-stack installation to include modules and variable definitions found in g-w `modulefiles/module_base.$machine.lua`.   Absent these updates GDASApp jobs fail when run in g-w with unbound variable errors.

This issue is opened to docume

[2022-10-12 22:08] jiaruidong2017 opened #156 "Issues on the GDASApp run on hera"
@CoryMartin-NOAA @RussTreadon-NOAA After I built the GDASApp package on hera, I tried to load the necessary modules as below:

[code]
However, I received the following error messages as below:
`conda: Command not found.`

I checked the modules loaded as below:

[code]
Following the instructions, I proceed to conduct the run and I got the errors as below:

[code]
It seems there are some problems in

[2022-10-13 00:51] jiaruidong2017 commented on #156
The issue was fixed, and the test run went through. I close this issue. Thanks.

[2022-10-13 00:51] #156 closed, assigned to nobody

[2022-10-13 12:47] jiaruidong2017 commented on #136
@CoryMartin-NOAA Would you please change the permission  from `750` to `755` of your following directory?

`/scratch1/NCEPDEV/da/Cory.R.Martin/GDASApp/fix/bump/`
**drwxr-s---** 4 Cory.R.Martin **da** 4096 Jul  1 07:36 bump

I am conducting the GDASApp atm DA tests using your bump directory. My account is in the `global` group on hera, and I don't have access to your `dump` directory.  Thanks.

[2022-10-13 12:53] CoryMartin-NOAA commented on #136
@jiaruidong2017 ok try it now, permissions updated.

[2022-10-13 13:03] jiaruidong2017 commented on #136
Thanks @CoryMartin-NOAA

[2022-10-13 13:06] #152 closed, assigned to CoryMartin-NOAA

[2022-10-17 15:19] RussTreadon-NOAA commented on #154
Changes pertaining to this issue will be committed to GDASApp branch [feature/updates_for_gw](https://github.com/NOAA-EMC/GDASApp/tree/feature/updates_for_gw).   This branch originated from [develop](https://github.com/NOAA-EMC/GDASApp/tree/develop) at 0332c17.

[2022-10-17 16:51] RussTreadon-NOAA commented on #154
**Note:** The GDASApp changes committed to [`feature/updates_for_gw`](https://github.com/NOAA-EMC/GDASApp/tree/feature/updates_for_gw) require the use of g-w branch [`feature/updates_for_GDASApp`](https://github.com/NOAA-EMC/global-workflow/tree/feature/updates_for_GDASApp).  . See g-w issue [#1067](https://github.com/NOAA-EMC/global-workflow/issues/1067) for details.

[2022-10-17 21:52] jiaruidong2017 commented on #136
@CoryMartin-NOAA I tried to run `ush/genYAML` with the modified example configure file `ush/examples/run_jedi_exe/3dhofx_hera.yaml`, but I received the following errors:

[code]
The input yaml file is attached here. Do you have any sample input yaml file I can learn how to run the `genYAML`. Thank you very much.

[3dhofx_hera.yaml.txt](https://github.com/NOAA-EMC/GDASApp/files/9804785/3dhofx_hera.

[2022-10-18 13:52] CoryMartin-NOAA commented on #136
Check out https://github.com/NOAA-EMC/GDASApp/blob/develop/test/genYAML_prep.sh, @jiaruidong2017

[2022-10-18 14:11] #8 closed, assigned to nobody

[2022-10-18 14:14] guillaumevernieres opened #159 "Changes are required to adapt the marine DA prep/run step to the g-w"

[2022-10-18 14:21] jiaruidong2017 commented on #136
Thanks @CoryMartin-NOAA

[2022-10-19 14:20] guillaumevernieres commented on #140
@CoryMartin-NOAA  and @RussTreadon-NOAA : I'm being bold and closing this issue!

[2022-10-19 14:20] #140 closed, assigned to nobody

[2022-10-19 14:25] guillaumevernieres opened #161 "Create backround seaice file readable by soca"
## Description
In the past we've relied in reading the CICE restarts to generate the aggregated background. This is fine, but not optimum since it requires dumping intermittent restarts which can be slow at 1/4 deg resolution.

## Solution
Instead of doing the above, manipulate the already aggregated CICE diag files to make them readable by soca/fms.

[2022-10-24 18:48] jiaruidong2017 commented on #136
@CoryMartin-NOAA I generated the yaml file for the snow DA. However, when I conducted the JEDI run using this yaml file, the run failed with the following errors:

[code]
Do you have any comments and suggestions on how to fix the issues? Thank you very much.

Below the the yaml file and the output logfile:
[genYAML_output_letkfoi.yaml.docx](https://github.com/NOAA-EMC/GDASApp/files/9854419/genYAML

[2022-10-24 18:52] CoryMartin-NOAA commented on #136
This is due to a relatively new change in JEDI IODA. All of the IODA obsdatain and obsdataout files need to specify the `engine`. See the first 10 lines or so here: https://github.com/NOAA-EMC/GDASApp/blob/develop/parm/atm/obs/config/amsua_n19.yaml

[2022-10-24 18:53] jiaruidong2017 commented on #136
@CoryMartin-NOAA Got it. Thanks Cory.

[2022-10-24 22:20] jiaruidong2017 commented on #136
@CoryMartin-NOAA My run failed with new errors as below:

[code]
Do you have any clue on this issue? Thanks.

[2022-10-24 22:47] guillaumevernieres commented on #136
@jiaruidong2017 , it looks like an issue with your buddy check filter. Check for recent `yaml` syntax changes in `ufo` for this specific filter.

[2022-10-25 00:45] jiaruidong2017 commented on #136
@guillaumevernieres Thank you for your suggestions. I took a look of the generated yaml file, and found the `observations` section was rearranged in an alphabetic order which made the `observations` section very mess.
@guillaumevernieres @CoryMartin-NOAA Do you have any idea how to keep the all the sections in the original order. Thanks.

[2022-10-25 12:38] CoryMartin-NOAA commented on #136
@jiaruidong2017 not currently, sorry. The YAML parsing tool puts it in alphabetical order. Perhaps a future one will be able to accommodate that.

[2022-10-25 17:36] #159 closed, assigned to nobody

[2022-10-25 17:36] #151 closed, assigned to guillaumevernieres

[2022-10-25 18:13] CoryMartin-NOAA commented on #143
This was done in #146, can we close this issue?

[2022-10-25 18:14] CoryMartin-NOAA opened #164 "Add script/tool to update hashes of CMakeLists.txt and/or use develop"
As the title says, we should make a tool to create/update the CMakeLists.txt so that it doesn't need to be hand edited.

[2022-10-25 18:15] CoryMartin-NOAA opened #165 "Update CMakeLists.txt for jedi-cmake"
The fv3-bundle now has an if/else for if jedicmake is a module or needs included in the bundle. We should replicate this.

[2022-10-25 18:31] RussTreadon-NOAA commented on #143
Since #146 addressed this, I agree that we should close this issue.

[2022-10-25 18:32] #143 closed, assigned to nobody

[2022-10-26 00:45] jiaruidong2017 commented on #136
@CoryMartin-NOAA @guillaumevernieres My test runs failed with the new errors as following:

[code]
Do you have any idea on how to fix the issues? Thank you very much.

The yaml file and the output logfile are attached below:
[genYAML_output_letkfoi.yaml.pdf](https://github.com/NOAA-EMC/GDASApp/files/9864860/genYAML_output_letkfoi.yaml.pdf)
[stdout.jedi_letkf_snow2.pdf](https://github.com/NOAA-EMC/

[2022-10-26 12:36] guillaumevernieres commented on #136
@jiaruidong2017 ... My guess is probably not as good as yours, but if you read the nice trace-back given to you, it looks like your geometry is missing a field called "filtered_orography". I'm just reading what's above.
That's a pretty nice trace back in your stdout file, read it and dig into your issue. Most likely a missing or wrong orography file?

[2022-10-26 13:30] CoryMartin-NOAA commented on #136
Yeah I agree with G, @jiaruidong2017 there is probably something wrong with the `time invariant state fields` section of YAML or the field is not being read in properly from a file.

[2022-10-26 13:58] RussTreadon-NOAA commented on #154
Close this issue with merger of PR #162 into develop.

[2022-10-26 13:58] #154 closed, assigned to RussTreadon-NOAA

[2022-10-26 17:10] RussTreadon-NOAA opened #166 "Add GSI static B yaml to parm/berror"
`fv3jedi_var.x` may now be run with the GSI static B.    This issue is opened to add `staticb_gsi.yaml` to `parm/berror` and confirm `run_jedi_exe.py` can execute `3dvar_hera.yaml` and `3dvar_orion.yaml` with GSI static B.

[2022-10-26 17:24] CoryMartin-NOAA commented on #166
@RussTreadon-NOAA have you been able to build GSI B within GDASApp? I feel like I remember it not working properly yet.

[2022-10-26 17:48] RussTreadon-NOAA commented on #166
@CoryMartin-NOAA , I am building GDASApp on Hera with GSI B.  We need to add `-DBUILD_GSIBEC=ON` to `CMAKE_OPTS` in `build.sh`.  I'll run the existing GSI-B ctests once the build completes.   I have not tried Orion and won't for the time being given issues with the Orion /work fileset.

[2022-10-26 17:50] CoryMartin-NOAA commented on #166
@RussTreadon-NOAA sounds great. Wasn't sure where the GSI BEC in GDASApp stood, seems it was already resolved.

[2022-10-26 18:28] RussTreadon-NOAA commented on #166
Both tier1 gsibec ctests pass on Hera
[code]

Both tier1 fv3jedi_dirac tests pass

[code]

[2022-10-26 19:04] jiaruidong2017 commented on #136
@CoryMartin-NOAA @guillaumevernieres The issue resulted from the new change of the yaml file in the new JEDI package, which cause the input parameter file not accessible. I have fixed the issue and the test run went through now. Thank you very much for your help.

[2022-10-27 18:10] RussTreadon-NOAA commented on #166
Create GDASApp branch [`feature/gsibec`](https://github.com/NOAA-EMC/GDASApp/tree/feature/gsibec) to contain changes for this issue.   In doing so, I see that the name of this feature branch name is dangerously close to [`feature/gsibc`](https://github.com/NOAA-EMC/GDASApp/tree/feature/gsibc).   Hopefully `feature/gsibec` will be short lived to avoid confusion.

[2022-10-27 18:29] RussTreadon-NOAA commented on #166
Following changes committed to `feature/gsibec` at efcd201

- add `-DBUILD_GSIBEC=ON` to `build.sh` to include GSIBEC to jedi build
- add `staticb_type` keyword to `3dvar_hera.yaml`.   `staticb_type` allows the user to select the type (source) of the staticb file used by `fv3jedi_var.x`.   Two self-explanatory options are currently valid:  `bump` and `gsibec`.
- add logic to `stage.py` to link to

[2022-10-28 18:06] guillaumevernieres opened #167 "[Bug] Update the (marine only?) SABER related `yaml` files"
Companion PR to https://github.com/JCSDA-internal/saber/pull/327 ... I'm only a "few" days late.

[2022-10-28 18:13] guillaumevernieres commented on #167
... pffff ... forgot we weren't pointing to develop. Will be reopened when it becomes an issue.

[2022-10-28 18:13] #167 closed, assigned to guillaumevernieres

[2022-10-28 18:23] RussTreadon-NOAA commented on #166
@CoryMartin-NOAA , with the addition of GSIBEC as a static B option, we need to add a gsibec fix directory to `gdas_fix_root`.    We have `gsibec` fix files for three resolutions:  C96, C192, and C384.   Each `gsibec` directory contains two files: (1) GSI static B netcdf file, (2) namelist consistent with given GSI static B file.

Below are the paths to the `gsibec` fix directories I have on Hera

[2022-10-28 18:33] RussTreadon-NOAA commented on #166
While working on this issue it was discovered that the Hera and Orion 3dvar tests fail when using BUMP static B.   It is not yet clear if the problem with with the BUMP files or `parm/atm/berror/staticb_bump.yaml`.  Changes in SABER likely necessitate updating `staticb_bump.yaml` or regenerating the BUMP files used by the 3dvar tests.

Note:  `fv3jedi_var.x` cycling tests to date use the identity

[2022-10-28 18:35] CoryMartin-NOAA commented on #166
@RussTreadon-NOAA done, note that the workflow points to fix directories by default maintained by EIB. But this should be sufficient for testing.

[2022-10-28 18:38] RussTreadon-NOAA commented on #166
Thanks, @CoryMartin-NOAA .   Good point about g-w.   Let me contact @KateFriedman-NOAA

[2022-10-28 18:58] RussTreadon-NOAA commented on #166
@KateFriedman-NOAA , GMAO added the ability to use the GSI background error covariance file (staticb) in JEDI applications.   This issue (#166) adds the use of the GSI staticb to the GDASApp.

In order to use GSI staticb in `fv3jedi_var.x` from g-w we need to populate the g-w gdas fix directory with the gsibec fix directory.   Below are the source and target directories and action to take on each

[2022-10-28 21:31] #102 closed, assigned to ShastriPaturi

[2022-10-31 13:26] CoryMartin-NOAA commented on #164
After discussion with @guillaumevernieres this will likely be based heavily on a tool developed for SOCA by @travissluka.
The idea is we would have:

- develop branch with develop in JEDI repos
- a stable branch with stable hash commits for JEDI repos
- a release branch with manually specified hash commits to create tags/hash commits for the global workflow

[2022-10-31 13:33] CoryMartin-NOAA commented on #130
I think this was closed by #134

[2022-10-31 13:33] #130 closed, assigned to andytangborn

[2022-10-31 13:34] CoryMartin-NOAA commented on #126
Closed in #134

[2022-10-31 13:34] #126 closed, assigned to andytangborn

[2022-10-31 13:36] CoryMartin-NOAA commented on #115
Merged in #122

[2022-10-31 13:36] #115 closed, assigned to andytangborn

[2022-10-31 13:37] CoryMartin-NOAA commented on #119
Closed through #146

[2022-10-31 13:37] #119 closed, assigned to CoryMartin-NOAA

[2022-10-31 13:37] CoryMartin-NOAA commented on #116
Closed through #122

[2022-10-31 13:37] #116 closed, assigned to andytangborn

[2022-10-31 13:38] CoryMartin-NOAA commented on #113
Closed through #122

[2022-10-31 13:38] #113 closed, assigned to andytangborn

[2022-10-31 17:51] travissluka commented on #164
@CoryMartin-NOAA feel free to steal what you need from

- https://github.com/JCSDA-internal/soca/blob/5014fe33be32aaaba4b7ec480bd6bad0e39fb841/.travis.yml#L132
- https://github.com/JCSDA-internal/soca/blob/develop/.github/travisci/stable_mark.sh
- https://github.com/JCSDA-internal/soca/blob/develop/.github/travisci/stable_commit.sh

The `stable_mark.sh` script is more complicated than you need, si

[2022-10-31 18:11] CoryMartin-NOAA commented on #164
thanks @travissluka these will be very useful!

[2022-10-31 18:49] CoryMartin-NOAA commented on #164
Work for this will be in [feature/update_hashes](https://github.com/NOAA-EMC/GDASApp/tree/feature/update_hashes)

[2022-10-31 20:12] CoryMartin-NOAA commented on #164
Travis's script added to this branch by Guillaume in #169

[2022-11-01 12:57] guillaumevernieres commented on #125
Reviving this today. The stand alone app will facilitate the investigation of [godas/415](https://github.com/NOAA-EMC/godas/issues/415)

[2022-11-01 17:51] #125 closed, assigned to guillaumevernieres

[2022-11-02 12:16] guillaumevernieres opened #172 "Use a history file as initial condition for the pseudo model"
We are currently pointing to a restart for the IC's and MOM6 history output for the subsequent backgrounds.
A test I did a while back using a history file in lieu of a restart failed, I tried again yesterday and it seems fine!
- [x] Swap MOM.res.nc with a history file in the ```background``` definition for the ocean. This is going to simplify the 1/4 deg case where MOM6 dumps at least 4 restarts p

[2022-11-02 12:35] guillaumevernieres opened #173 "Interpolate backgrounds to the same vertical geometry"
... before I say something like ... Oops, I forgot, 3 years down the road! Taking care of this today.

[2022-11-02 12:42] CoryMartin-NOAA commented on #172
Are they called 'diag' files in MOM6? Just as an FYI, our common nomenclature is:
- diag file: observation space statistics (IODA obsdataout for example)
- history file: model output that isn't a FMS RESTART file

[2022-11-02 13:02] guillaumevernieres commented on #172
Good point @CoryMartin-NOAA , updating my jargon.

[2022-11-02 16:57] AndrewEichmann-NOAA opened #174 "test_gdasapp_soca_ana_run failing on hera"
Is this expected?

Running ctest under develop with soca on hera results in the first six test passing, and then seven failing:

The relevant errors seem to be:

...

...

The build is under /scratch1/NCEPDEV/da/Andrew.Eichmann/gdasapp/myGDASApp/build/test/soca - it's a fork from today from develop.  The log is preserved in /scratch1/NCEPDEV/da/Andrew.Eichmann/gdasapp/myGDASApp/build/test/soca/Las

[2022-11-02 17:31] guillaumevernieres commented on #174
You can't run that specific test on the login node @AndrewEichmann-NOAA , it's using `srun` with 2 cores. Just ignore that test for now or run it within an interactive queue.

[2022-11-02 17:31] #174 closed, assigned to nobody

[2022-11-02 22:58] jiaruidong2017 opened #177 "Module file as used in GDASApp for building JEDI"
I need to update the JEDI version in the land directory for offline land DA workflow, and we want to use the same modules as in the GDASApp.
@CoryMartin-NOAA Would you please point me the modules used in the GDASApp I can use for building the JEDI? Thanks.

[2022-11-02 23:30] guillaumevernieres commented on #177
@jiaruidong2017 There's a wiki here: [GDASApp-in-Standalone-Mode](https://github.com/NOAA-EMC/GDASApp/wiki/Using-GDASApp-in-Standalone-Mode:-Atmospheric-applications), most of it is probably still up to date. There's a section called **Build GDASApp**, it was written for us! Read it, most of what you need to know to build this repo and the JEDI bundle is explained in the wiki.

To load the modules

[2022-11-03 12:24] jiaruidong2017 commented on #177
@guillaumevernieres Thank you very much for your help. I could build the GDASApp successfully following the wiki help.
I tried to build a standalone JEDI using the same modules as GDASApp with the following steps:

1. git clone https://github.com/JCSDA-internal/fv3-bundle.git fv3-bundle_20221102
2. cd fv3-bundle_20221102; mkdir build; cd build
3. module use /scratch1/NCEPDEV/global/Jiarui.Dong/JED

[2022-11-03 12:29] CoryMartin-NOAA commented on #177
@jiaruidong2017 the issue is that now they turned off building CRTM in the bundle by default and want you to load it as a module.

[code]

 My modulefile does not load CRTM, so you will need to either:
- edit the fv3-bundle CMakeLists.txt file and change `ON` to `OFF
- include `-DBUNDLE_SKIP_CRTM=OFF` in your ecbuild command

[2022-11-03 13:18] jiaruidong2017 commented on #177
@CoryMartin-NOAA I used the second option to include `-DBUNDLE_SKIP_CRTM=OFF` in my ecbuild command. It works now and both build and compile are successful. Thank you very much for your help.

[2022-11-03 13:27] #177 closed, assigned to nobody

[2022-11-03 18:51] guillaumevernieres opened #179 "Add the ioda converted bufr obs to the ctest soca database"
- Step 1: Move the soca_db test after the bufr to ioda test

[code]
Test 9 needs to be after test 13.

- Step 2: Add the ioda converted bufr files to the database (through test 9)

[2022-11-04 12:38] guillaumevernieres opened #180 "Convert BUMP files to different layout"
I missed the memo completely, we can now convert our "bump" files to an arbitrary layout. Not high priority, but this needs to be done.

Pinging @andytangborn , since that might be of interest to you as well. I added you to the list of assignees, but feel free to remove yourself if this isn't something you plan to work on.

The application to convert the bump files is still **ErrorCovarianceTraini

[2022-11-04 12:47] andytangborn commented on #180
Thanks. This will be really helpful.

[2022-11-07 19:16] #172 closed, assigned to nobody

[2022-11-07 19:16] #173 closed, assigned to guillaumevernieres

[2022-11-08 01:28] jiaruidong2017 opened #181 "Add land DA component to GDASApp (2)"
- [x] Add a python code to create pseudo-ensemble for use in LETKF-OI
      Codes located in ush/land/create_ensemble/
      Reads in sfc_data restarts, and sets snowdepth to +/- perturbation, given stdev(ensemble) of B
- [x] Add IMS_proc/
      Code for processing IMS input ascii/netcdf files on the UFS model grid.
      Codes located in ush/land/IMS_proc/
      url = https://github.com/noaa-psd/

[2022-11-08 01:29] #136 closed, assigned to jiaruidong2017

[2022-11-08 13:25] guillaumevernieres opened #182 "Fetch obs from r2d2 databases with different "step" storage"
While we should probably start building an obs database in increment of 6 hour that matches the ops DA cycle, it isn't going to happen anytime soon. Instead and in the meantime, develop tools to fetch observations from an r2d2 db that has obs stored in increments of PT10M or P1D.

[2022-11-08 14:44] jiaruidong2017 commented on #181
When conducting the letkf_create_ens.py test using the GDASApp modules, It generated the ensembles successfully but came with the warning below:

[code]
I did a web research and found that the warning comes because the NumPy package recently deprecated its `numpy.bool` in favor of the standard Python `bool`. There are two options:
1) This is a harmless warning. If we can live with it, just leave i

[2022-11-08 14:53] CoryMartin-NOAA commented on #181
@jiaruidong2017 I would probably just not worry about this for now and we will revisit it when this is closer to being in operations. My $0.02

[2022-11-08 20:56] guillaumevernieres opened #184 "[Bug] PR 145 broke this repo"
I should have paid attention! @jiaruidong2017 , your changes below L180:
https://github.com/NOAA-EMC/GDASApp/blob/2712a22aa81788d85e14cac358de12956a75d238/ush/ufsda/yamltools.py#L181
broke this repo.

It would have been avoidable had we triggered the `ci`, the `soca_run` test is broken again.

@jiaruidong2017 : My `concern` is that I can easily `fix` what you broke, but I have no idea how to not b

[2022-11-08 21:36] jiaruidong2017 commented on #184
@guillaumevernieres Thank you for letting me know the issues and sorry for making any inconvenience for you. Sure, please make your changes for fixing what I broke, and let me know once you commit your changes. I will make a quick test run to do a check from my end. Thanks again.

[2022-11-08 23:05] guillaumevernieres commented on #184
No worries @jiaruidong2017 , I'll ping you in my next pr.

[2022-11-10 14:36] #184 closed, assigned to nobody

[2022-11-10 16:12] CoryMartin-NOAA opened #187 "Make check out of JCSDA test data optional"
There are several JCSDA test data repositories that get cloned (e.g. ufo-data) that are only used if we run the individual JEDI unit tests. We should make this optional (off by default) so that when it is cloned as part of the workflow, for example, none of this is cloned.

[2022-11-11 00:28] jiaruidong2017 commented on #181
I conducted the `IMS_proc` test runs using your modules, but it failed with reading the IMS snowcover data as below:

[code]
The `fims.nml` for this run is as below:
[code]
@ClaraDraper-NOAA Do you think anything I missed in above configures? I appreciate your any comments and suggestions. Thank you.

[2022-11-14 13:39] CoryMartin-NOAA commented on #181
[code]
ASCII but .nc? Is that a typo or is this supposed to be an ASCII file?

[2022-11-14 14:16] jiaruidong2017 commented on #181
@CoryMartin-NOAA The `IMS_proc` can read IMS snow cover data in both ASCII and netcdf formats. That is a typo in the output log file. Thanks.

[2022-11-14 16:03] ClaraDraper-NOAA commented on #181
@jiaruidong2017 It's telling you where the code is failing, so it shouldn't be too hard for you to figure out what the problem is. Have you double-checked each entry in the namelist? I can't tell you if it's right or not, since I don't know the details of your experiment.

[2022-11-15 17:26] jiaruidong2017 commented on #181
This error was caused by the node running out of memory when I tried to conduct my test runs at C96 resolution. This runtime error was fixed by adding `ulimit` in the submit_job.sh.

[2022-11-16 21:24] CoryMartin-NOAA opened #191 "Update GDASApp to follow IODA conventions"
YAMLs!
Scripts/other places?
Input obs files will also need updated.
This isn't necessary yet but will be once our sprint work is in develop (and we use hashes committed after that point).

[2022-11-17 15:25] ShastriPaturi opened #192 "Data coverage for BUFR insitu profile from NCEP monthly tanks"
The NCEP BUFR monthly tanks is sometimes not complete for the month.
As an example, for 201804 tesac data, that date coverage spans April 1, 2018 12:00:00 AM to April 19, 2018 2:20:00 AM.

[2022-11-18 00:48] guillaumevernieres opened #194 "Marine obs yaml files"
It's time to copy these [`yaml` files](https://github.com/NOAA-EMC/godas/tree/develop/soca/obs) and modify them to work with the `GDASApp`.

[2022-11-18 14:15] ShastriPaturi commented on #194
@guillaumevernieres we need to add the yamls for bufr insitu (ships, shipsu, dbuoy and mbuoyb, to start with). It may not be complete.

[2022-11-18 16:44] CoryMartin-NOAA commented on #187
Work is in branch `feature/optional_test_data`

[2022-11-21 20:57] AndrewEichmann-NOAA opened #196 "Harmonization/reorganization of observation sources in soca test"
As noted in https://github.com/NOAA-EMC/GDASApp/pull/193 certain observation files need to be renamed or reorganized for consistency.

One item is the following, introduced by @ShastriPaturi :

The bufr_<dbuoy,,mbuoyb>prof.YYYYMMDD.nc has both sea_water_temperature and sea_water_salinity. Since the composite obsspace yaml is not implemented yet, I would suggest to rename the yamls as: temp_bufr_<d

[2022-11-21 21:10] jiaruidong2017 commented on #181
@ClaraDraper-NOAA When I tried to add the IMS_proc into the GDASApp, the configuring is incomplete with error message below. I checked the file `cmake/compiler_flags_Intel_Fortran.cmake`, and found there were a extra letter "B" at the beggining of the file as `B# (C) Copyright 2018 UCAR.`. I am not sure whether or not the crash was caused by this. Would you please remove the letter `B` from the fi

[2022-11-21 21:12] CoryMartin-NOAA commented on #181
@jiaruidong2017 this is actually a good point @ClaraDraper-NOAA the repo will need to be able to be cloned by everyone for use in GDAS. Can you make it a public facing repository? (it can obviously still live in NOAA-PSL but it needs to be readable by all)

[2022-11-21 21:20] barlage commented on #181
@jiaruidong2017 if you look at the log, you'll see that this file (compiler_flags_Intel_Fortran.cmake) is actually created by @jkbk2004

[2022-11-21 21:42] ClaraDraper-NOAA commented on #181
@jiaruidong2017 I removed the extra B. If you need any other changes made, it'd be better for you to create a fork, and work from that fork initially. Then once you have it working, issue a PR to update my code.  As Mike said, Jong is the person to ask about the CMake files. I don't think it works out of the box on hera, but Jong will know (and can help you fix it).

@CoryMartin-NOAA it should not

[2022-11-21 21:46] jkbk2004 commented on #181
@jiaruidong2017 can you point me to the path you are working on hera? So that we may work together for debugging.

[2022-11-21 21:54] jkbk2004 commented on #181
@jiaruidong2017 I will take a look: /scratch2/NCEPDEV/stmp1/Jiarui.Dong/gdasapp

[2022-11-21 22:16] jiaruidong2017 commented on #181
@ClaraDraper-NOAA Thank you and will work from my fork.

[2022-11-21 22:17] jiaruidong2017 commented on #181
Thanks @jkbk2004. Yes, that is my temporary working directory.

[2022-11-21 23:52] jiaruidong2017 commented on #181
@ClaraDraper-NOAA I have successfully built the GDASApp with the IMS_proc including your fix from my fork and an executable file was created. I will conduct the test runs to reproduce the results from the offline land DA workflow. Thanks again.

@jkbk2004 My working directory is at `/scratch2/NCEPDEV/stmp1/Jiarui.Dong/gdasapp/gdasapp.1/` on hera.

[2022-11-22 01:12] jkbk2004 commented on #181
@jiaruidong2017 does "./build.sh -t hera" go thru the build on hera? Can you save command line history?

[2022-11-22 01:16] jiaruidong2017 commented on #181
@jkbk2004 Yes, it went through the build process on hera. How can I save the command line history?

[2022-11-22 01:19] jkbk2004 commented on #181
@jiaruidong2017 @CoryMartin-NOAA `CMake Error at /scratch1/NCEPDEV/global/spack-stack/spack-stack-v1/envs/skylab-2.0.0-intel-2021.5.0/install/intel/2021.5.0/cmake-3.22.1-mpovvsm/share/cmake-3.22/Modules/FindPackageHandleStandardArgs.cmake:230 (message):
  Could NOT find OpenMP_CXX (missing: OpenMP_CXX_FLAGS OpenMP_CXX_LIB_NAMES)`

[2022-11-22 01:30] jiaruidong2017 commented on #181
@jkbk2004 I saved the command line history at /scratch2/NCEPDEV/stmp1/Jiarui.Dong/gdasapp/gdasapp.1/command_line_history.log

[2022-11-22 13:25] AndrewEichmann-NOAA commented on #194
@guillaumevernieres Are these the obs in the soca test that are not assimilated at this point?

[2022-11-22 13:55] guillaumevernieres commented on #194
@AndrewEichmann-NOAA , nope, these are in our database but not in the test. This issue is just about converting the yamls from what's needed in soca-sci to what we need in this repo.

[2022-11-22 13:57] #182 closed, assigned to guillaumevernieres

[2022-11-22 14:06] jiaruidong2017 commented on #181
@jkbk2004 When you use cmake to build `land-IMS_proc`, you don't use both `build.sh` and `hera_modules` in the `land-IMS_proc` packages. Is it correct? Thanks.

[2022-11-22 15:30] jkbk2004 commented on #181
@jiaruidong2017 On landDA side, the cmake requirement is fairly easy: ecbuild and compiler. But I think the build errors I keep seeing is about stack issue, since it struggles to find all build environment variables and packages for some of GDAS bundle component `CMake Error at /scratch1/NCEPDEV/global/spack-stack/spack-stack-v1/envs/skylab-2.0.0-intel-2021.5.0/install/intel/2021.5.0/cmake-3.22.1-

[2022-11-22 18:40] CoryMartin-NOAA opened #198 "Add IMS preprocessing code to GDASApp"
Add and test the IMS preprocessing code to GDASApp.

This includes:

- [x] Having GDASApp clone the repository like the existing JEDI repositories
- [x] Build the code as part of the complete build process
- [x] Test the code offline to ensure it is running as intended with the new build system
- [x] Add a ctest to verify the IMS preprocessing code does not become broken

[2022-11-22 18:44] AndrewEichmann-NOAA commented on #196
@ShastriPaturi You refer to the yaml files here while using the nc files as examples - I presume you mean to rename the yaml files also, along the same pattern.

One thing I notice is that the bufr2ioda yaml files in test/testinput/ have the same names as the analysis-prep stage files in parm/soca/obs/config/ . Is this necessary? It seems to have a lot of potential for confusion.
@guillaumevernier

[2022-11-22 18:50] CoryMartin-NOAA opened #199 "Add code to create pseudo ensemble for snow DA"
- [x] Add a python script to create a pseudo ensemble
- [x] Add a ctest verifying this test works as intended

[2022-11-22 19:04] CoryMartin-NOAA opened #200 "Add and test snow DA increment application code"
- [x] Include to GDASApp the add JEDI increment code
- [x] test code offline that has been built with GDASApp
- [x] add ctest to test increment add code

[2022-11-22 19:08] CoryMartin-NOAA opened #201 "Prepare test data for snow DA prototyping/unit testing"
- [ ] C96 (preferably C48) land surface restart files
- [ ] low resolution/subsetted observation files

[2022-11-22 19:08] CoryMartin-NOAA commented on #201
Are the files in here usable: /scratch1/NCEPDEV/da/Cory.R.Martin/CI/GDASApp/data/lowres ?

[2022-11-22 19:14] CoryMartin-NOAA commented on #198
@jiaruidong2017 is this work being done in the branch [feature/land-imsproc](https://github.com/NOAA-EMC/GDASApp/tree/feature/land-imsproc)?

[2022-11-22 19:15] CoryMartin-NOAA commented on #198
This issue *may* depend on #201. @jiaruidong2017 depending on the size of the input test data we either will do 1) stage the test files in the test data tar ball or 2) keep them in a centralized place on Hera and Orion for testing.

[2022-11-22 19:22] jiaruidong2017 commented on #198
@CoryMartin-NOAA I am in the land team meeting from 2 to 3pm. Yes, the IMS_proc work will be done in the branch feature/land-imsproc.

[2022-11-22 19:23] guillaumevernieres commented on #196
@AndrewEichmann-NOAA . We can only do 1 "obsspace" per yaml for now, I think that's what @ShastriPaturi is referring to. Is there a way to only output 1 variable with the bufr2ioda converter?

[2022-11-22 19:29] guillaumevernieres commented on #201
@CoryMartin-NOAA , the ocean backgrounds are probably ok, but I'll need to sub-sample the obs.

[2022-11-22 19:32] CoryMartin-NOAA commented on #201
@guillaumevernieres sorry I meant this specifically for land DA :-), I will adjust the title accordingly because I somehow missed adding that

[2022-11-22 19:35] ShastriPaturi commented on #196
Exactly @guillaumevernieres. Yes, it can be done @guillaumevernieres. @AndrewEichmann-NOAA can use only temp/saln in the QUERY and the variables and write out one files for each obsspace.

[2022-11-22 19:47] CoryMartin-NOAA commented on #198
Note due to a recent PR there may be a build issue, where the IMS calcfIMS exe is not built, if so, modify this line:
https://github.com/NOAA-EMC/GDASApp/blob/ce1a55355278e951b292b6ba61ba0ba64775861d/build.sh#L114
to include `land-imsproc` in it

[2022-11-22 19:49] AndrewEichmann-NOAA commented on #194
@guillaumevernieres @ShastriPaturi
I have an intial commit for an example yaml here:
https://github.com/NOAA-EMC/GDASApp/blob/feature/marine-obs-yaml-files/parm/soca/obs/config/sst_drifter.yaml

Couple of questions:

- Should the _letkf block go?
- The yamls in godas have list dashes - should those be removed? Are they handled differently by GDASApp?

[2022-11-22 19:59] ShastriPaturi commented on #194
@AndrewEichmann-NOAA the yaml looks fine to me.
I am ok with keeping the yaml as is,  unless @guillaumevernieres has any other suggestion.

[2022-11-22 20:07] jiaruidong2017 commented on #198
Thanks @CoryMartin-NOAA, and I will rebuild it.

[2022-11-22 20:08] jiaruidong2017 commented on #198
@CoryMartin-NOAA What is the maximum limit if the test data tar ball is used? Do we have some tools to change data into low resolution or subset the observation data file?

[2022-11-22 20:13] CoryMartin-NOAA commented on #198
@jiaruidong2017 there's no 'rule' on file size for the tar ball, but the current size of the dataset is ~30MB, and I would be hesitant to do more than double that for any one test, so my guess is C48 will even be way too big (but I'm not sure).

The input file, it depends on what the format is, there are several netCDF tools for subsetting, and I think ones exist for BUFR also.

[2022-11-22 20:14] mjhossen opened #202 "Generate marine DA plots using EVA in the GDASApp"
- [ ] Modify the existing python tool in the GDASApp [gen_eva_obs_yaml.py](https://github.com/NOAA-EMC/GDASApp/blob/develop/ush/eva/gen_eva_obs_yaml.py) to generate obs space plots using a valid ```var.yaml``` from marine DA experiments
- [ ] create eva templates for the marine obs
- [ ] test the generated yaml with eva

[2022-11-22 20:15] jiaruidong2017 commented on #201
@CoryMartin-NOAA They are usable if we go with C48 resolution. But the required IMS index file is not available yet at C48 for the test. I checked and found the IMS index files are only available at C96 and C384 now. Do you want me to make the tests at t18z cycle of 20210323 by using these restart files?

@barlage Would you please help to add the IMS index_file to the following directory at:
/scra

[2022-11-22 20:16] guillaumevernieres commented on #194
Good questions @AndrewEichmann-NOAA !
- The letkf block should not be part of the gdasapp obs yaml yet, so yes, good call.
- nope, looks good

What I should do is show you how to run the stand alone application so you can actually test those yamls ...

[2022-11-22 20:17] CoryMartin-NOAA commented on #201
C48 would be great if it is not too much trouble, that way we can use this one set for ocean, land, atmosphere (and eventually aerosols). If it is a lot of work, C96 is fine for now, especially if the file size of C48 is already too big to store on RZDM (it might not be!)

[2022-11-22 20:17] ShastriPaturi commented on #194
Please add me to your tutorial @guillaumevernieres

[2022-11-22 20:19] guillaumevernieres commented on #194
sorry, just seeing your comment @ShastriPaturi . We want to remove what we know we don't want. The letkf block is one thing we certainly don't want to carry around.

[2022-11-22 20:37] AndrewEichmann-NOAA commented on #194
@ShastriPaturi @guillaumevernieres
There are varying degrees of overlap between the godas marine and existing GDASApp yamls, namely

- adt_j3_egm2008.yaml
- icefb_GDR.yaml
- salt_profile_fnmoc.yaml
- sss_smap_jpl.yaml
- sst_drifter.yaml
- sst_noaa19_l3u.yaml
- temp_profile_fnmoc.yaml

Generally the godas versions would add QC filters. Should I adapt the godas versions (and test with the existing s

[2022-11-22 20:46] guillaumevernieres opened #204 "Observation staging location"
@aerorahul says we need to move the staging location of the observation 1 directory up so things are organized kind of like that:
[code]

[2022-11-22 20:59] guillaumevernieres commented on #194
@AndrewEichmann-NOAA , we do need to update the gdasapp yamls with whatever filtering we've been doing so far.

[2022-11-22 20:59] #194 closed, assigned to AndrewEichmann-NOAA

[2022-11-23 14:55] jiaruidong2017 commented on #199
@CoryMartin-NOAA For this task, I did and will do the following steps. Please correct me if you think some steps are not accurate. Thanks.

1) I tested the python script (`letkf_create_ens.py`) offline under the GDASApp environment, and it successfully generated a pseudo ensemble at both C96 and C48 resolutions.

2) For the next step, I put the python script in the directory `ush/land/letkf_create

[2022-11-23 16:11] AndrewEichmann-NOAA opened #205 "test_gdasapp_soca_ana_prep failing on salt_profile_fnmoc"
A soca test in freshly pulled build of develop results in the following:

[2022-11-23 16:17] ShastriPaturi commented on #205
@AndrewEichmann-NOAA, the file:
gdas.t12z.salt_profile_fnmoc.2018041512.nc4 should have "sea_water_salinity"

[2022-11-23 16:32] guillaumevernieres commented on #205
Dang ... Thanks for pointing that out @AndrewEichmann-NOAA . I "probably" forgot a few steps in the concatenation logic.

[2022-11-25 18:22] jiaruidong2017 commented on #201
IMS OBS:
`/scratch2/NCEPDEV/land/data/DA/snow_ice_cover/IMS/2021/ims2021083_4km_v1.3.nc`

Dimension: 6144 by 6144
Data format: netcdf
byte IMS_Surface_Values(time, y, x)
file size=567,046

**IMS Index file:**
`/scratch2/NCEPDEV/land/data/DA/snow_ice_cover/IMS/index_files/IMS4km_to_FV3_mapping.oro_C48.mx100.nc`

File size=4.1 MB

[2022-11-25 18:44] jiaruidong2017 commented on #201
**GTS OBS:** (Global vesus Subsets)
/scratch2/NCEPDEV/land/data/DA/snow_depth/GTS/data_proc/

[code]
[code]
[code]

[2022-11-28 14:14] CoryMartin-NOAA commented on #199
@jiaruidong2017 I think this all seems to be correct, now we just need to stage the input files somewhere (either on disk or in a tarball depending on size) and then I think this is ready for a PR/review.

[2022-11-28 19:43] jiaruidong2017 commented on #198
I tested the IMS processing code offline under the GDASApp environment, and it successfully generated the results at C48 resolution.

**IMS OBS file:** (file size=567,046)
/scratch2/NCEPDEV/land/data/DA/snow_ice_cover/IMS/2021/ims2021083_4km_v1.3.nc

**IMS Index file:** (File size=4.1 MB)
/scratch2/NCEPDEV/land/data/DA/snow_ice_cover/IMS/index_files/IMS4km_to_FV3_mapping.oro_C48.mx100.nc

For the

[2022-11-28 22:00] CoryMartin-NOAA commented on #187
Closed by #195

[2022-11-28 22:00] #187 closed, assigned to CoryMartin-NOAA

[2022-11-28 22:00] CoryMartin-NOAA commented on #164
This will be closed by #208

[2022-11-29 01:35] guillaumevernieres opened #209 "Reorganization of the marine DA scratch dir"
Needed to resolve:
https://github.com/NOAA-EMC/global-workflow/pull/1134#discussion_r1033988037

[2022-11-29 13:14] #179 closed, assigned to AndrewEichmann-NOAA

[2022-11-29 13:58] guillaumevernieres commented on #192
@ShastriPaturi , what is this issue about? It doesn't seem to belong to this repo.

[2022-11-29 14:38] ShastriPaturi commented on #192
This issue was about the monthly tank TESAC and TRKOB subsampled file ctest that @AndrewEichmann-NOAA added and mentioned that the dates were incorrect. This is something to make note of.
We can close this issue.

[2022-11-29 14:54] guillaumevernieres commented on #192
@ShastriPaturi , what needs to be done to fix that issue?

[2022-11-29 14:59] ShastriPaturi commented on #192
@guillaumevernieres nothing at this moment. The data coverage is such.
As an example, for 201804 tesac data, that date coverage spans April 1, 2018 12:00:00 AM to April 19, 2018 2:20:00 AM there will not be any data available after April 19, 2018 2:20:00 AM for 2018041906 cycle and onwards.

[2022-11-29 15:50] guillaumevernieres commented on #192
Can you open an issue in `godas` instead @ShastriPaturi ? Closing this as I don't think it belongs here.

[2022-11-29 15:50] #192 closed, assigned to nobody

[2022-11-29 18:01] #209 closed, assigned to guillaumevernieres

[2022-11-29 18:01] #205 closed, assigned to guillaumevernieres, ShastriPaturi, AndrewEichmann-NOAA

[2022-11-29 19:27] CoryMartin-NOAA commented on #131
This was closed a while ago by #153

[2022-11-29 19:27] #131 closed, assigned to nobody

[2022-11-29 20:26] jiaruidong2017 commented on #181
Split this into other issues

[2022-11-29 20:26] #181 closed, assigned to barlage, jiaruidong2017, ClaraDraper-NOAA

[2022-11-30 16:02] guillaumevernieres opened #213 "Add seaice DA"
To do list:
- [x] Add the CICE backgrounds to the pseudo model, ~~ideally from the cice history instead of the CICE restarts~~
- [x] BUMP init of the sea ice control variables
- [x] add the sea ice control variables to the var yaml
- ~~Apply the Soca2cice var change to insert the analysis in the restart ~~
- [x] make sure all the above is part of the CI